body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    color: #777;
}

.img1, .img2, .img3 {
    position: relative;
    opacity: 7;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url('img1.jpg');
    height: 500px;
}

.img2 {
    background-image: url('img2.jpg');
    height: 400px;
}

.img3 {
    background-image: url('img3.jpg');
    height: 700px;
}

.content {
    color: #777;
    background-color:rgb(204, 204, 204);
    text-align: justify;
    padding:50px 80px;
}