
.container-main{
    background-color: rgb(194, 187, 187);
    border: 3px solid rgb(189, 184, 178);
    border-radius: 50px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    text-align: center;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 800;
    font-style: oblique;
}

h2 {
    font-family: sans-serif;
    font-style: italic;
    font-variant: inherit;
    font-weight: bolder;
    font-size: xx-large;
}

img{
    border-radius: 60%;
    width: auto;
    height: auto;
}

article {
    margin: auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 500;
    font-style: normal;
}

blockquote {
    font-weight: bolder;
    font-style: italic;
}

section {
    padding: 5px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-variant: small-caps;
    font-size: xx-large;
}

section > a{
    
    padding : 5px; 
    text-decoration: none;
    border: 3px solid whitesmoke;
    border-radius: 40%;
    font-style: oblique;
    color: rgb(26, 26, 59);
}

a:hover {
    background-color: rgb(182, 245, 239);
}

a:link, a:visited, a:active {
    background-color: rgb(239, 250, 255);
}

@media (max-width: 600px){
    img {
        width: 50%;
        height: auto;
    }
}